.user .edit, #savingUser, #newTaskModal .modal-body .visualize  {
    display: none;
}

.displayNone {
    display: none;
}

.row.logotipo {
    margin-top: 10px;
}

.btn#signUp {
    padding-left: 0px !important;
}

.comments {
    margin-bottom: 15px;
}

.opened-task {
    background-color: #FFFEDF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}

input.name, input.email {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.taskToggler {
    cursor: pointer;
    display: inline;
}

.task {
    margin-bottom: 10px;
}

.task .details {
    margin-top: 10px;
}

.formActions {
    margin-top: 10px;
    margin-bottom: 15px;
}

.formActions .pull-left {
    margin-right: 5px;
}

.formActions .pull-right {
    margin-left: 5px;
}

.task .actions {
    margin-top: 15px;
}

.task .actions button.pull-left {
    margin-right: 5px;
    margin-left: 0px !important;
}

.task .actions button.pull-left {
    margin-left: 5px;
}